// нові стилі


.header_container {

    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
   
    
}
.neurovolkov_logo {
    

    @media screen and (min-width: 1200px) {
        width: 280px;
        margin-top: 16px;
        margin-bottom: 48px;

    }
    

}
.header_wrap {
    display: flex;
    flex-direction: column;   
}
.header_navigation {
    order: 2

}
.nav_list {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @media screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 38px;
    margin-bottom: 28px;
    }
  
  
}
.nav_item {
    @media screen and (max-width: 480px) {
        border: 1px solid var(--accent-dark-color);
        padding: 8px 0;
        text-align: center;
        border-radius: 12px;
        background: var(--title-color);
       
        
        
    }
   
}
.neuro_list {
    order: 1;
    display: flex;
    gap: 39px;
    margin: 22px 0;

    @media screen and (min-width: 1200px) {
        display: flex;
        gap: 18px;
    }
    
}
.neuro_link {
    @media screen and (max-width: 480px){
        font-weight: 600;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: var(--title-color) !important;
    }
    

    @media screen and (min-width: 1200px) {
        font-weight: 600;
            font-size: 24px;
            line-height: 1.14;
           
    }
  
}
.nav_link {
    color: white;
    @media screen and (min-width: 480px) {
        font-weight: 600;
        font-size: 18px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        
        
    }
    
        // color: var(--text-color);
}
.nav_link:hover {
    @media screen and (max-width: 480px){
        color: white;
    }
    color: var(--title-color);
}
